@font-face {
  font-display: swap;
  font-family: algerian;
  src: url("algerian.ttf") format("truetype");
}

a {
  color: #9f7313 !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
}

/* NAVBAR*/
header {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  z-index: 999;
}

header .container {
  position: relative;
  padding: 0;
  height: 100%;
}

header .container .hamburger-menu {
  position: fixed;
  top: 0px;
  right: 16px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 999;
}

header .container .hamburger-menu i {
  font-size: 24px;
  margin: auto;
  color: #9f7313;
}

header .container .hamburger-menu .fa-times {
  display: none;
}

header .container .hamburger-menu .fa-times.open {
  display: block;
}

header .container .hamburger-menu .fa-bars.open {
  display: none;
}

header .container .nav {
  visibility: hidden;
}

header .container .nav .navbar-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  z-index: 980;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  padding: 56px 0 0 0;
}

header .container .nav .navbar-nav .navbar-brand {
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

header .container .nav .navbar-nav .nav-item {
  padding: 0 40px;
}

header .container .nav .navbar-nav .nav-item .nav-link {
  color: #9f7313;
  font-size: 20px;
}

header .container .nav .navbar-nav .nav-item .nav-link:hover {
  color: #cd9418 !important;
}

header .container .nav .navbar-nav .book {
  padding-top: 30px;
}

header .container .nav .navbar-nav .book .nav-link {
  padding: 8px 16px;
  border: 1px solid #9f7313;
}

header .container .nav .navbar-nav .book .nav-link:hover {
  border: 1px solid #cd9418;
  color: #cd9418;
}

header .container .nav.open {
  visibility: visible;
}

/* MAIN */
main {
  padding: 4em 0;
}

main .header {
  margin: 4em 0;
}

main .header img {
  max-width: 350px;
  width: 100%;
  margin-bottom: 4em;
}

main .header p {
  font-size: 1.5em;
  text-align: center;
  color: #cd9418;
}

main .services {
  margin: 100px 0;
}

main .services div h2 {
  font-family: algerian;
  font-size: 2em;
  color: #9f7313;
}

main .services div ul li {
  list-style: none;
  font-size: 1em;
}

main .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 0;
  margin: 5em 1em;
}

main .gallery .pics img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

main .gallery .pics img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* FOOTER */
footer {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  position: relative;
}

footer .container {
  position: relative;
  padding: 0;
  height: 100%;
}

footer .container .div1 div {
  margin: 32px 0;
}

footer .workhours-book {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .workhours-book .book {
  margin-top: 0;
  padding-top: 30px;
}

footer .workhours-book .book .nav-link {
  padding: 8px 16px;
  border: 1px solid #9f7313;
}

footer .workhours-book ul {
  padding: 0;
}

footer .workhours-book ul li {
  list-style: none;
  color: #cd9418;
  text-align: center;
}

.div1 .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div1 .social ul li {
  margin: 0 20px;
  list-style: none;
}

.div1 .social ul li a i {
  font-size: 30px;
}

footer .div2 {
  width: 100%;
  text-align: center;
  color: #565858;
}

footer .backtotop {
  position: absolute;
  right: 10%;
  bottom: 32px;
}

footer .backtotop .fa {
  color: #9f7313;
  font-size: 50px;
}

/* RESPONSIVE */
@media (max-width: 572px) {
  .services div ul {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .services div h2 {
    font-size: 2.5em;
  }
  .services div ul li {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  header .container .hamburger-menu {
    display: none;
  }
  header .container .nav {
    visibility: visible;
  }
  header .container .nav .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: initial;
    padding: 0;
  }
  header .container .nav .navbar-nav .nav-item:nth-child(2) {
    margin-right: 3em;
  }
  header .container .nav .navbar-nav .navbar-brand {
    display: block;
    position: initial;
    width: initial;
    margin: 10px;
  }
  header .container .nav .navbar-nav .book {
    padding: 0 0 0 5em;
  }
}
/*# sourceMappingURL=services.css.map */