@font-face {
  font-family: algerian;
  src: url("algerian.ttf") format("truetype");
}

q {
  position: relative;
  color: #9f7313;
  font-size: 24px;
}

q::before {
  content: "\201C";
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

q::after {
  content: "\201D";
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

/* NAVBAR*/

.navbar {
  position: fixed;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  z-index: 2;
  width: 100vw;
}

.navbar .navbar-toggler-icon {
  background-color: #9f7313;
  border-radius: 5px;
}

.navbar-toggler-icon .line {
  position: relative;
  width: 15px;
  height: 2px;
  background-color: black;
  top: -2px;
  left: 0px;
  display: inline-block;
}

.line:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: black;
}

.line:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: black;
}

.navbar-nav {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.navbar-nav .nav-item {
  padding: 0 40px;
}

.navbar-nav .nav-item:last-child {
  padding: 0 0 0 150px;
}

.navbar-nav .nav-item .nav-link,
footer .div1 .nav-link {
  color: #9f7313;
  font-size: 20px;
}

.navbar-nav .nav-item:last-child .nav-link,
footer .div1 .nav-link {
  border: 1px solid #9f7313;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #cd9418;
}

.navbar-nav .nav-item:last-child .nav-link:hover {
  border: 1px solid #cd9418;
  color: #cd9418;
}

/* MAIN */
.main {
  width: 100vw;
  padding-top: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.main .scissors {
  width: 100px;
}

.main h2 {
  font-family: algerian;
  color: #9f7313;
  font-size: 50px;
}

.barbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.barbers div {
  margin: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.barbers h3 {
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  font-family: fantasy;
  border-top: 1px solid #9f7313;
  border-bottom: 1px solid #9f7313;
  padding: 8px 0;
  width: 200px;
}

.main p {
  font-size: 24px;
  color: #cd9418;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.shop {
  margin-top: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  margin: 50px auto;
}

.gallery div:nth-child(1) {
  grid-row: 1/2;
}

.gallery div:nth-child(2) {
  grid-row: 2/3;
}

.gallery div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}

/* FOOTER */
footer {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-top: 60px;
  padding: 50px 0 0 0;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

footer div {
  margin: 20px 0;
}

footer .div1 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

footer .div1 .bookus {
  width: 140px;
  text-align: center;
}

footer .workhours ul li,
footer .social ul li {
  list-style: none;
}

footer .workhours ul li,
footer .social ul li a {
  color: #cd9418;
}

footer .social ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

footer .social ul li {
  margin: 0 20px;
}

footer .social ul li a i {
  font-size: 30px;
}

footer img {
  width: 50px;
  margin: 0 auto;
}

footer .div2 {
  width: 100%;
  text-align: center;
  color: #565858;
}

footer span {
  position: absolute;
  right: 10%;
  bottom: 80px;
}

footer span .fa {
  color: #9f7313;
  font-size: 50px;
}

/* RESPONSIVE */
@media (max-width: 1280px) {
  .barbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
}

@media (max-width: 1050px) {
  .navbar-nav .nav-item:last-child {
    padding-left: 80px;
  }

  .barbers div:first-child {
    margin-top: 20px;
  }

  .main p {
    width: 80%;
    font-size: 20px;
  }
}

@media (max-width: 940px) {
  .navbar-nav {
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    padding: 0 20px;
  }

  .navbar-nav .nav-item:last-child {
    padding-left: 0;
  }

  .barbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-nav {
    width: 90%;
    margin: 0 30px 0 0;
    position: relative;
  }

  .navbar-nav .nav-item:last-child {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 8px;
  }

  .navbar-nav .navbar-brand {
    position: absolute;
    top: 30%;
    right: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@media (max-width: 550px) {
  .barbers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }

  footer span .fa {
    font-size: 40px;
  }
}
