/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
  font-family: algerian;
  src: url("algerian.ttf") format("truetype");
}

a {
  color: #9f7313 !important;
}

q {
  position: relative;
  color: #9f7313;
  font-size: 24px;
}

q::before {
  content: "\201C";
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

q::after {
  content: "\201D";
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
}

/* NAVBAR*/

header {
  position: fixed;
  width: 100%;
  height: 3.5em;
  background-color: #2d3436;
  background-image: -o-linear-gradient(135deg, #2d3436 0%, #000000 74%);
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  z-index: 999;
}

header > .container {
  position: relative;
  padding: 0;
  height: 100%;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  max-width: 100px;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0px;
  right: 1em;
  width: 3.5em;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 999;
}

.hamburger-menu i {
  font-size: 1.5em;
  margin: auto;
  color: #9f7313;
}

.hamburger-menu .fa-times {
  display: none;
}

.hamburger-menu .fa-times.open {
  display: block;
}

.hamburger-menu .fa-bars.open {
  display: none;
}

.nav {
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.navbar-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  z-index: 980;
  background-color: #2d3436;
  background-image: -o-linear-gradient(135deg, #2d3436 0%, #000000 74%);
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  padding: 3.5em 0 0 0;
}

.navbar-nav .nav-item {
  padding: 0 40px;
}

nav .nav-item .nav-link {
  color: #9f7313;
  font-size: 20px;
}

.navbar-nav .book,
.div1 .book {
  padding-top: 30px;
}

.navbar-nav .book .nav-link,
.div1 .book .nav-link {
  padding: 0.5em 1em;
}

.navbar-nav .book .nav-link,
.div1 .book .nav-link {
  border: 1px solid #9f7313;
}

nav .navbar-nav .nav-item .nav-link:hover {
  color: #cd9418 !important;
}
.navbar-nav .book .nav-link:hover {
  border: 1px solid #cd9418;
  color: #cd9418;
}

/* MAIN */
main {
  padding: 4em 0;
}

main .container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 4em 0;
}

main .scissors {
  width: 100px;
}

main h2 {
  font-family: algerian;
  color: #9f7313;
  font-size: 3em;
}

main p {
  font-size: 24px;
  color: #cd9418;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.barber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3em 0;
}

.barber img {
  max-width: 250px;
  width: 100%;
}

.barber h3 {
  margin: 1em 0 0 0;
  padding: 0.3em 0;
  border-top: 1px solid #9f7313;
  border-bottom: 1px solid #9f7313;
}

.shop {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 15px;
  margin: 50px auto;
}

.gallery div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery div:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

/* FOOTER */
footer {
  background-color: #2d3436;
  background-image: -o-linear-gradient(135deg, #2d3436 0%, #000000 74%);
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  position: relative;
}

footer > .container {
  position: relative;
  padding: 0;
  height: 100%;
}

.div1 div {
  margin: 2em 0;
}

footer .workhours-book {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .workhours-book .book {
  margin-top: 0;
}

footer .workhours-book ul,
footer .social ul {
  padding: 0;
}

footer .workhours-book ul li,
footer .social ul li {
  list-style: none;
}

footer .workhours-book ul li,
footer .social ul li a {
  color: #cd9418;
}

.div1 .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .social ul li {
  margin: 0 20px;
}

footer .social ul li a i {
  font-size: 30px;
}

footer .div2 {
  width: 100%;
  text-align: center;
  color: #565858;
}

footer .backtotop {
  position: absolute;
  right: 10%;
  bottom: 2em;
}

footer .backtotop .fa {
  color: #9f7313;
  font-size: 50px;
}

/*RESPONSIVE*/
@media (min-width: 992px) {
  .hamburger-menu {
    display: none;
  }

  .nav {
    visibility: visible;
  }

  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: initial;
    padding: 0;
  }

  .navbar-brand {
    display: block;
    position: initial;
    width: initial;
    margin: 10px;
  }

  .navbar-nav .nav-item:nth-child(2) {
    margin-right: 3em;
  }

  .navbar-nav .book {
    padding: 0 0 0 5em;
  }
}
